

.none{
    border:none;
    outline: none;
    background-color: rgb(255, 255, 255); /* Changez cette couleur selon vos préférences */
    border: none; /* Enlève la bordure */
    padding: 10px 20px; /* Ajustez l'espacement à l'intérieur du bouton */
    text-align: center; /* Centre le texte */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
.coins-container {
    display: flex;
    align-items: center;
}

.coins-container img {
    margin-right: 5px; /* Adjust this value as needed */
    width: 50px; /* Définir la largeur souhaitée */
    height: auto; /* Pour conserver les proportions de l'image */
}


.none{
    border:none;
    outline: none;
    background-color: transparent; /* Changez cette couleur selon vos préférences */
    border: none; /* Enlève la bordure */
    padding: 10px 20px; /* Ajustez l'espacement à l'intérieur du bouton */
    text-align: center; /* Centre le texte */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
.coins-container {
    display: flex;
    align-items: center;
}

.coins-container img {
    margin-right: 5px; /* Adjust this value as needed */
    width: 50px; /* Définir la largeur souhaitée */
    height: auto; /* Pour conserver les proportions de l'image */
}


.droite{
    float: right;
    margin-top: 5px;
    padding-top: auto;
}


.card {
    width: 290px;
    height: 500px;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
   
   .shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
   }
   
   